.container {
  position: relative;
  left: 25vw;
  text-align: center;
  padding: 15px;
  height: 100vh;
  max-width: 50vw;
}

.lookup-verse {
  margin: 5px;
}

.verse-select {
  margin: 5px;
}

.verse-text {
  padding: 15px;
  margin: 15px;
}

p {
  line-height: 30px;
}